body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
  
}
.head_container{
  
    border-top: 8px solid black;
    border-bottom: 1px solid orange;
    padding: 15px 0px;
}
ul{
    padding: 0px;
    margin: 0px;
}
li{
    list-style-type: none;
    padding: 5px;
    display: inline-block;

}
.navbar-nav li a{
    font-size: 15px;
    padding: 15px;
    line-height: 15px;
    color: black;
    text-decoration: none;
    

}
.flt{
    width: 100%;
    float: left;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav li a:hover,.navbar-nav li a.active{
    color: orange;
    transition: 0.2s all ease-in-out;
}
.header_button{
    margin-left: 90px;
    border: 1px solid orange;
     border-radius: 5px;
     color: black;
     background-color: rgb(255 255 255);
     font-weight: 500;
   }
   .slider_container{
    position: relative;
   }
   .slider-text{
    position: absolute;
   width: 100%;
    top: 45%;
    color: white;
 
   
}
.inner-text{
font-weight: 700;
font-size: 55px;
line-height: 70px;
text-align: center;
color: rgb(255, 255, 255);
}

/*about us*/

.aboutus_container{
    padding-bottom:80px; 
    background: rgb(245 245 245);
}
.aboutus_head{
    padding-top: 50px;
    padding-bottom: 20px;
    font-weight: 600;
    line-height: 38px;
    color: rgb(30 35 41);
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
    
}
.about_text{
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin-left: 30px;
}

/* whyus*/
 .whyus_container{
   background-image: url('../images/inside-car.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 400px;
} 

.container_img{
    opacity: 0.8;
}
.whyus_head{
    text-align: center;
    
    color: white;
    
    font-weight: 620;
    font-size: 30px;
}


.why_cont{
    
    margin-top: 60px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 60px 0px;
    border: 5px solid transparent;
    transition: 0.2s all ease-in-out;

}
.why_txt {
    font-weight: 400;
    font-size: 15px;
    color: rgb(51 51 51);
    margin-top: 30px;
}
.why_cont:hover {
    border: 5px solid rgb(245, 163, 2);
    transition: 0.2s all ease-in-out;
}





   



















